html,
body {
  min-height: 100vh;
  margin: 0;
}
body {
  font-size: 100%;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
}
.iconRem {
  font-size: 4em !important;
}
.noMargin {
  margin: 0 !important;
}
.classyDiv {
  height: 50vh;
  display: flex;
  padding: 5%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}
.classyDiv img {
  max-height: 90%;
  max-width: 90%;
  border-radius: 50%;
}

.in {
  padding: 5%;
  margin: 2px;
  border-radius: 25px;
  background-color: white;
}
#quadOne {
  background: #1b4965;
}

#quadTwo {
  padding: 0%;
  background: #539987;
}

#quadThree {
  background: #1b4965;
  overflow-wrap: break-word;
}

#quadFour {
  background: #f7cb15;
}

#projects {
  background-color: #f0810f;
}
#projects h2 {
  margin-bottom: 20px;
  padding: 10px;
}
.project {
  text-align: center;
  background-color: #f0810f;
  margin: 7px auto;
  border: 0px;
}
.project img {
  border-radius: 10px;
}
.project img:hover {
  opacity: 1;
}
.project a {
  color: white;
  text-decoration: none;
}
.project a:hover {
  text-decoration: underline;
}
#navName img {
  border-radius: 50%;
}

@media (max-width: 991.98px) {
  .classyDiv {
    height: auto;
  }
}
@media (max-height: 750px) {
  .classyDiv {
    height: auto;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 100%;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1500px) {
  body {
    font-size: 120%;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 2500px) {
  body {
    font-size: 150%;
  }
}

@media (min-width: 3000px) {
  body {
    font-size: 200%;
  }
}

@media (min-width: 3500px) {
  body {
    font-size: 220%;
  }
}
@media (min-width: 4300px) {
  body {
    font-size: 250%;
  }
}
